#Logo {
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    width: 7em
}

#imagem {
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    width: 30em
}